<div class="navbar">
   <div class="container">
      <div class="logo">
         <h1>logo</h1>
      </div>
      <div class="toggle">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div class="links">
         <ul>
            <li>
               <a href="#">Home</a>
            </li>
            <li>
               <a href="#">About</a>
            </li>
            <li>
               <a href="#">Services</a>
            </li>
            <li>
               <a href="#">Blog</a>
            </li>
            <li>
               <a href="#">Contact</a>
            </li>
         </ul>
      </div>
      <div class="clearfix"></div>
   </div>
</div>

