
<div class="cover">
  <div class="bg"></div>
  <div class="title">
    <div class="logo">
    </div>
    <div class="text">
      Welcome to YuMusic
    </div>
    <div class="desc">
      "Music is a higher revelation than all wisdom and philosophy" -- Ludwig van Beethoven
    </div>
      <%= link_to "GetStarted", songs_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="social">
  <a href="http://www.uplabs.com/jaka_music"  target="_blank">UpLabs</a>
  <a href="http://www.behance.net/jakamusic"  target="_blank">Behance</a>
  <a href="https://plus.google.com/u/0/+JakaMusic/posts" target="_blank">G+</a>
</div>

